html {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}
  /* .texto {
      text-align: center;
      font-weight: bold; */

.azul{
  background-color:blue;
}

.verde{
  background-color:green;
}
.vermelho{
  background-color:red;
}

#card{
  border:3px dotted green;
  width:200px;
  height:200px;
}
